# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular Data Science languages
- List commonly used Data Science libraries
- List commonly used Data Science development environment tools
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-Learn
5. Keras
6. Tensorflow
7. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Lab |
| R Studio |
| Apache Spark |
| Apache Flink |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 60, "hr")

3.3333333333333335 hr

## Author
Jeevithesh